extends layout

include mixins/_nameCard
//- include mixins/_pagination

block content
  .inner
    h2= title
    .name
      each name in names
        +nameCard(name)
    //- +pagination(page, pages, count)
